<div class="row">
	<div class="col-md-offset-10 col-md-2" style="color:#fff">
		  <select name="" *ngIf="stores && stores.length>0" (change)="afterselect_store($event.target.value)" class="form-control">
				<option value="">select store location</option>
				<option *ngFor="let store of stores;let i=index" value="{{i}}">{{store.name}}</option>
			</select>
	</div>
</div>

<div class="container-fluid">
  <div class="row content">
    <div class="col-md-9">
     <h2 class="head" style="color: black;">Open Order</h2>
    <div class=" main"  >
       <table class="table table-bordered table-hover" id="fixTable1" >
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Name & Address</th>
          <th>Amount</th>
        </tr>
      </thead>
    
    <tbody *ngFor="let oneorder of data" >
      <tr *ngIf="(oneorder.driverauto_id==-1 || oneorder.driverauto_id==undefined) && oneorder.deliveryfee!=undefined && (oneorder.deliveryfee=='set' || oneorder.deliveryfee=='Set') && check_assigned_order(oneorder.auto_id)" [class.highlight]="checkselect(oneorder.auto_id)" [ngStyle]="{'background-color':  oneorder.color}" (click)="orderbundle(oneorder.auto_id)">
        <td>GDOD-{{oneorder.auto_id}}</td>
        <td >{{oneorder.username}} & {{oneorder.shipping_add}}</td>
        <td>${{oneorder.total}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

  <!-- {{driver_index}}--{{loged_in_drivers.length}}--{{driver_orders.length}} -->
<div class="col-md-3" style="background: black;">
<h2 class="head">Drivers</h2>
 <div  id="sidenav">
   <table class="table table-bordered table-hover " id="fixTable" >

    <thead >
      <tr>
        <th>Name</th>
        <th>In</th>
        <!-- <th>Out</th> -->
        <th>Assign</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let onedriver of loged_in_drivers;let i = index"  [class.highlight]="driver_id==onedriver.emp_auto_id && employee==onedriver.emp">
        <td *ngIf="onedriver.logout_time==undefined" (click)="driver_id=onedriver.emp_auto_id;employee=onedriver.emp" >{{onedriver.emp_name}}</td>
        <td *ngIf="onedriver.logout_time!=undefined" >{{onedriver.emp_name}}</td>

        <td>{{onedriver.login_time | date:"h:mma"}}</td>
        <!-- <td>{{onedriver.logout_time | date:"h:mma"}}</td> -->
         <td><a  data-toggle="modal" data-target="#myModal" (click)="driver_order_detail(i)" style="cursor: pointer;">{{onedriver.assigned_order.length}}</a> </td>
         </tr>
      </tbody>
     </table>
     </div>



 </div>

</div>

 <div class="container" >
   <!-- Trigger the modal with a button -->

  <!-- Modal -->

  <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="height: 500px;" *ngIf="driver_index!=undefined && loged_in_drivers.length>0">
        <div class="modal-header" style="padding:5px 5px;">
         <button type="button" class="close" data-dismiss="modal" id="close1" style="color:white;">&times;</button>
          <h4> Assigned Order- {{loged_in_drivers[driver_index].emp_name}} </h4>
         </div>
        <div class="modal-body" style="padding:20px 25px;height: 400px;">
        <div class="modal-table" style="height:370px; overflow-y:scroll">
        <table class="table table-bordered table-hover" id="fixTable2"  >
          <thead >
          <tr >
            <th>Order Id</th>
            <th>Name & Address</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
         </thead>
         <tbody>
         <tr *ngFor="let oneorder of driver_orders;let i=index">
          <td>GDOD-{{oneorder.auto_id}}</td>
          <td>{{oneorder.username}} & {{oneorder.shipping_add}}</td>
          <td>${{oneorder.total}}</td>
          <td><button class="close" type="button" (click)="remove(oneorder.auto_id,driver_index,i)" style="padding-right: 25px;">&times;</button></td>
         </tr>

       </tbody>
       </table>
      </div>
        </div>
        </div>

    </div>
  </div>
 </div>
 <div id="footer_id" class="btn-section">
   <!-- <button type="button" class="btn default1">select </button> -->
    <button type="button" class="btn default1" (click)="orderbundle_arr=[];driver_id=undefined" id='clear'>Clear </button>
    <button type="button" class="btn default1" (click)="assign()">Assign </button>
     <!-- <button type="button" class="btn default1">Cancel </button> -->
      <button type="button" class="btn default1"   data-toggle="modal" data-target="#myModal1">Driver Login </button>
  
      <button type="button" class="btn default1"   data-toggle="modal" data-target="#myModal_emp"> Emp Att </button>
      <!-- <button type="button" class="btn default1"   data-toggle="modal" data-target="#myModal_emp_out">Checkout </button> -->

      <span id="error"></span>
 </div>

   <div class="container">

     <div class="modal fade" id="myModal1" role="dialog">
     <div class="modal-dialog" style="width: 300px;height: 300px;">

      <!-- Modal content-->
      <div class="modal-content">

          <div class="modal-body" style="padding:20px 20px;">
           <button class="close" data-dismiss="modal" style="margin-top: -3px;" id="closebutton">&times;</button>
           <form [formGroup]="form" (ngSubmit)="showDriver(form)">
            <div class="form-group" >
                <label for="emp_id" class="control-label required">ID</label>
                <input type="text" id="emp_id" class="form-control" formControlName="emp_id" ng-virtual-keyboard ng-virtual-keyboard-layout="alphanumeric" ng-virtual-keyboard-placeholder="Id">
              </div>
              <div class="form-group" >
                <label for="employee" class="control-label required">Employee</label>
                <input type="checkbox" id="employee" formControlName="employee">
              </div>
             <button type="submit" class="btn btn-default btn-block" *ngIf="!logout"> submit</button>
             <button class="btn btn-default btn-block" (click)="logout_driver(form  )" *ngIf="logout"> Logout</button>
           </form>
          </div>
        </div>
      </div>
     </div>

     <div class="modal fade" id="myModal_emp" role="dialog">
      <div class="modal-dialog" style="width: 300px;height: 300px;">
 
       <!-- Modal content-->
       <div class="modal-content">
 
           <div class="modal-body" style="padding:20px 20px;">
            <button class="close" data-dismiss="modal" style="margin-top: -3px;" id="closebutton_emp">&times;</button>
            
            <form [formGroup]="form" (ngSubmit)="checkin(f,false)" #f="ngForm">
              
               <div class="form-group" >
                 <label for="emp_id" class="control-label required">ID</label>
                 <input type="text" id="emp_id" class="form-control" formControlName="emp_id" ng-virtual-keyboard ng-virtual-keyboard-layout="alphanumeric" ng-virtual-keyboard-placeholder="Employee Id">
               </div>

              <button type="submit" class="btn btn-default btn-block" *ngIf="!checkout"> checkin </button>

              <span class="btn btn-default btn-block" (click)="checkin(f,true)" *ngIf="checkout"> Checkout</span>
              <!-- {{checkinresponse}} -->

              <div id="checkinres">
                
              </div>

            </form>

           </div>
         </div>
       </div>
      </div>

      <!-- <div class="modal fade" id="myModal_emp_out" role="dialog">
        <div class="modal-dialog" style="width: 300px;height: 300px;">
   
         <div class="modal-content">
   
             <div class="modal-body" style="padding:20px 20px;">
              <button class="close" data-dismiss="modal" style="margin-top: -3px;" id="closebutton_emp_out">&times;</button>
              
              <form [formGroup]="form" (ngSubmit)="checkoutemp(f)"  #f="ngForm">
                
                 <div class="form-group" >
                   <label for="emp_id" class="control-label required">ID</label>
                   <input type="text" id="emp_id" class="form-control" formControlName="emp_id">
                 </div>
  
                <button type="submit" class="btn btn-default btn-block"> checkout </button>
  
                <div id="checkoutres">
                
                </div>
              </form>
  
             </div>
           </div>
         </div>
        </div> -->

    </div>


<!-- <div class="container">

     <div class="modal fade" id="myModal2" role="dialog">
     <div class="modal-dialog" style="width: 300px;height: 300px;">

      <div class="modal-content">

          <div class="modal-body" style="padding:20px 20px;">
           <button class="close" data-dismiss="modal" style="margin-top: -3px;">&times;</button>
           <form role="form">
            <div class="form-group">
              <label for="usrname" style="margin-bottom: 20px"><span class="glyphicon glyphicon-user"></span> Employee Id-Name</label>
              <input type="text" class="form-control" id="emp-id" placeholder="Enter Employee Id">
            </div>
             <button type="submit" class="btn btn-default btn-block"> Logout</button>
           </form>
          </div>
        </div>
      </div>
     </div>
    </div> -->
