/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin-top:10 px;
  margin-bottom: 2px;
  }
  row.content{
    margin-right: 10px;
  }

table{
/*height:460px;*/
display: -moz-groupbox;
border-top: 1px solid white;

}
tbody{
  background-color: #fff;
}
thead{
  background-color: black !important;
  color:white;
   font-size: 16px;
  font-weight: bold;
  width: auto;
  border: 1px solid white;
margin-bottom: 2px;
margin-top: 2px;

}
th{
background-color: black;
color: white;

}
.main{
height: 450px;
margin:10px;
overflow-y: scroll;
}


#sidenav
{
height: 460px;
background-color: black;

}

.head{
  text-align: center;
  color:white;
}


.btn-section {
  position: fixed;
   left: 0;
   bottom: 1px;
   width: 100%;
   color: white;
  text-align: center;
   background-color: black;
    height: 80px;
     padding-top: 20px;
      overflow: hidden;

}

#footer_id button{
   font-size: 16px;
   cursor: pointer;
   width: 120px;
   margin-right: 30px;
   border: 2px solid gray;
   border-radius: 5px;

}

.default1{
  background-color: black;
  color: white;
 border-color: white;
}
.default1:hover {
 background-color:white;
 color: black;
 border-color: black;
}


@media screen and (max-width: 767px)
{
  .sidenav {
    height: auto;
    padding: 10px;
     width: 100%;
     overflow-x: scroll;
    margin-bottom: 20px;

  }
  .main{
     width: 100%;
     overflow-x: scroll;

  }
  .row.content {
    height: auto;
    width: 100%;
    margin-bottom: 60px;
  }
  footer{
    height: auto;
   padding-bottom: 5px;
   padding-left: 15px;

  }
}
.modal-header,h4{
    background-color: black;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
.close {
  color: black !important;
margin-left: 10px;
opacity: 1;
}
#close1{
color: white !important;
}
.btn-default{
  background-color: black;
  color:white;
  /* border-color: */
}

.btn-default:hover{
 border-color: black;
 background-color: white;
 color:black;
}

.success tbody{
  background-color: #eee;
}
.highlight { background-color: #d6e9c6 !important; }
.cdk-overlay-container .container{
  width: 800px !important;
}